body {
  font-family: 'Palatino Linotype', 'Book Antiqua';
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* Navigation bar */

.nav-container {
  position: sticky;
  top: 0;
  height: 60px;
  margin: -10px;
  width: 101.25%;
  top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #dbd5d5;
  color: black;
  z-index: 100;
  letter-spacing: 0.025em;
}

.nav-logo {
  padding-left: 30px;
  flex: 1;
  text-align: left;
  font-family: 'Palatino Linotype', 'Book Antiqua';
}

.navbar-links {
  display: inline-block;
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 10px;
  font-family: 'Palatino Linotype', 'Book Antiqua';
}

.navbar-links a {
  padding: 0 10px;
  color: black;
}

/* home page */

.home-line-a {
  margin: -10px;
  width: 99%;
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 15px;
  background-color: #ffffff;
}

.home-line-b {
  margin: -10px;
  height: 600px;
  width: 99%;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 15px;
  background-color: #bfdbf7;
}

.home-text {
  font-size: x-large;
}

/* Signup & Login */

/* users home page */
.home-container {
  margin: 16px;
  width: 93%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  border-radius: 16px;
  padding: 15px;
  background-color: #bfdbf7;
}

.stock-details-container {
  margin: 16px;
  width: 93%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  border-radius: 16px;
  padding: 15px;
  background-color: #bfdbf7;
}

/* transactions page */
.single-transaction-container {
  margin: 16px;
  width: 93%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 16px;
  padding: 15px;
  background-color: #bfdbf7;
}

.transaction-field {
  margin: 16px;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

/* portfolio page */

.portfolio-headings {
  margin: 16px;
  width: 93%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.portfolio-share[data-status='up'] {
  margin: 16px;
  width: 93%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 16px;
  padding: 15px;
  background-color: #bfdbf7;
  color: #688e26;
}

.portfolio-share[data-status='down'] {
  margin: 16px;
  width: 93%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 16px;
  padding: 15px;
  background-color: #bfdbf7;
  color: #bf211e;
}

.portfolio-share[data-status='same'] {
  margin: 16px;
  width: 93%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 16px;
  padding: 15px;
  background-color: #bfdbf7;
  color: #7a7265;
}

/* utilities */
.warning {
  color: #bf211e;
  font-style: italic;
  font-size: 10px;
}
